/* 
                    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

img{
    width: 100%;
    display: block;
}

/* 
                    BACKGROUND
*/

:root{
    --dark-blue:#05060a81;
    --blue: #141922;
    --black: #000000;
    --gray: #282828;
    --slime: #ADFF2F;
}

/* 
                    COLOR
*/

:root{
    --gray-text: #74767B;
    --white: #FFFFFF;
}

/* 
                    BUTTON
*/

.button{
    border-radius: 20px;
    padding: 10px 35px;
    background-color: #00000000;
    border: 1px solid white;
    color: var(--white);
    transition: scale 0.1s ease-in-out;
}

/* 
    HOVER BUTTON
*/

button:hover{
    scale: 1.2;
}

 /* 
                    MAIN
 */

main{
    height: calc(100vh - 100px);
    background-color: var(--blue);
    display: flex;
    justify-content: flex-end;
}

/* 
             CONTAINER-MAIN
*/
/***************************************** SCROLLBAR ORIZZONTALE QUI ****************************************/
.container-main{
    width: calc(100vw - 200px);
    overflow-y: auto;
}

/* 
            UPGRADE
*/

.upgrade{
    display: flex;
    justify-content: flex-end;
    padding: 30px 5px;
    background-color: var(--dark-blue);
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
}

/* 
            CONTAINER-SPOTIFY
*/

.container-spotify{
    width: calc(100vw - 200px);
    height: calc(100vh - 100px - 78px);
    padding: 0 20px 20px;
}

/* 
            NAV
*/

nav{
    line-height: 70px;
    display: flex;
    justify-content: center;
}

nav > ul{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav > ul > li{
    list-style: none;
    color: var(--white);
    margin: 0px 10px;
    font-size: 13px;
    color: var(--gray-text);
    font-weight: bold;
    cursor: pointer;
}

nav > ul > li > span{
    position: relative;
}

nav > ul > li:hover{
    color: var(--white);
}


.selection{
    position: absolute;
    bottom: -5px;
    left: calc(50% - 35% / 2);
    width: 35%;
    height: 2px;
    background-color: var(--slime);
}

/* 
            RECENTLY PLAYED
*/

.recently{
    padding-top: 20px;
    width: 100%;
}

.title{
    color: var(--white);
    font-size: 25px;
    font-weight: bold;   
}

.my-row{
    min-height: 100px;
    padding-bottom: 50px;
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
}

.my-col{
    width: calc(100% / 6 - 15px);
    margin-right: 20px;
}

.img-song > a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.text-song{
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
}

.title-song{
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
}

.artist-song, .subtitle{
    font-size: 10px;
    color: var(--gray-text);
    font-weight: bold;
}

.subtitle{
    margin-top: 10px;
}

/* 
            OVERLAY
*/

.overlay{
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.1s ease-in-out;
}

.visible .overlay > .fa-circle-play{
    font-size: 150px;
}

.visible .overlay:hover{
    opacity: 0.5;
}

.overlay:hover .fa-circle-play{
    opacity: 1;
}


/* 
            ARTISTI PIU' POPOLARI
*/

.circle{
    border-radius: 50%;
}

 /* 
            ASIDE
 */

aside{
    background-color: var(--black);
    width: 200px;
    height: calc(100vh - 100px);
    position: fixed;
    left: 0;
    top: 0;
}

/* 
                    PLAYER
*/

footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: var(--gray);
    position: fixed;
    left: 0;
    bottom: 0;
}

.left-col, .right-col{
    display: flex;
    align-items: center;
    width: 25%;
}

/* 
                LEFT COL
*/

footer > .left-col{
    padding-left: 10px;
}

footer > .left-col > img{
    width: 50px;
}

footer > .left-col > .text-song{
    min-width: 20px;
    margin-left: 10px;
    margin-top: 0;
    line-height: 15px;
}

footer > .left-col > .text-song > .title-song{
    font-size: 12px;
    text-align: left;
}

footer > .left-col > .text-song > .artist-song{
    font-size: 10px;
}

footer > .left-col > .react{
    margin-left: 40px;
}

footer > .left-col > .react > i{
    color: var(--gray-text);
    margin-right: 10px;
}

/* 
                MID COL
*/

footer > .mid-col{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0; 
}

.player{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player > i:not(.fa-circle-play){
    color: var(--white);
    font-size: 20px;
}

.fa-circle-play{
    font-size: 35px;
    color: var(--white);
}

#minute{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#minute > div:not(.bar){
    color: var(--white);
    font-size: 10px;
    font-weight: bold;
}

#minute > .bar{
    width: 60%;
}

.bar{
    height: 4px;
    background-color: var(--gray-text);
    border-radius: 4px;
    margin: 0 30px;
    position: relative;
}

#minute > .bar > .white-bar{
    width: 20%;
}

.white-bar{
    height: 4px;
    background-color: var(--white);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
}

/* 
                RIGHT COL
*/

.right-col{
    padding-right: 10px;
}

.icon{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon > i{
    color: var(--white);
    font-size: 13px;
    margin-right: 15px;
}

.right-col > .icon > .bar{
    width: 120px;
    margin: 0;
}

.right-col > .icon > .bar > .white-bar{
    width: 20%;
}


/* 
                    RESPONSIVE
*/


/* TABLET (878PX) */

@media screen and (max-width:878px) {

    nav > ul{
        width: 100%;
    }

    .my-row{
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .my-col{
        width: calc(100% / 4 - 20px);
        margin-right: 20px;
        margin-bottom: 30px;
    }

    #minute > .bar{
        margin: 0 20px;
    }

    .icon > i{
        margin-right: 10px;
    }
}





/* TABLET (639PX) */

@media screen and (max-width:639px) {

    nav > ul{
        width: 100%;
    }

    .my-row{
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .my-col{
        width: calc(100% / 2 - 20px);
        margin-right: 20px;
        margin-bottom: 30px;
    }

    #minute > .bar{
        margin: 0 10px;
    }

    .icon > i{
        margin-right: 5px;
    }
}